<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t(".description", link1: link_to(t(".rails_tut"), "https://www.railstutorial.org/"),
    link2: link_to(t(".rails_book"), "http://www.railstutorial.org/book"),
    link3: link_to(t(".rails_screencast"), "http://screencasts.railstutorial.org/"),
    link4: link_to(t(".ruby_rails"), "http://rubyonrails.org/")).html_safe %>
</p>
