<% provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<p>
  <%= t(".description", link1: link_to(t(".rails_help"), "http://www.railstutorial.org/help"),
    link2: link_to(t(".rails_book"), "http://www.railstutorial.org/book")).html_safe %>
</p>
